.wrapper {
  font-family: $raleway-font;
  font-weight: 300;
  color: #fff;
  position: relative;
}

section {
  height: 100vh;
  font-size: 40px;
  font-weight: 100;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &#section1 {
    text-align: center;
  }
  &#section2 {
  ul {
    margin: 0 5em;
    justify-content: center;
    }
  }
  &#section3 {
    font-size: 30px;
    ul {
      justify-content: center;
      padding: 50px;
      margin: 0 10em;
      li {
        list-style-type: none;
        margin: 40px 0;
      }
    }
  }
  &#section4 {
    font-size: 20px;
    ul {
      justify-content: center;
      padding: 20px;
      margin: 0 5em;
      li:nth-child(-n+2) {
        list-style-type: none;
      }
    }
    div#section4-list {
      padding-left: 10em;
    }
  }
  &#section5 {
    font-size: 30px;
    ul {
      margin: 1em 0;
    }
    li:nth-child(-n+2) {
      list-style-type: none;
    }
    div#section5-list {
      padding-left: 10em;
    }
  }
  &#section6 {
    ul {
      list-style-type: none;
      li > i {
        margin: 0 10px;
      }
    }
  }
  $colors: #fff, #f8002f, #e70001, #420200, #b1a701, #fe583f, #000c14;
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      background: nth($colors, $i)
    } 
  }
}

.nav {
  &-wrapper {
    position: fixed;
    margin: 40px 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  & {
    margin: 0 0 100px 30px;
  }
  &-counter {
    font-size: 30px;
    transition: all 0.15s ease-out;
  }
  &-title {
    font-size:35px;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, 
    opacity 0.2s ease-out;
  }
  &-body {
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out,
    opacity 0.2s ease-out;
  }
  li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
    list-style-type: none;
    &:after {
      content: "";
      display: block;
      border-left: 2px solid white;
      border-top: 2px solid white;
      height: 250px;
      width: 20px;
      position: absolute;
      left: -30px;
      top: 15px;
    }
    a {
      display: block;
      padding: 0;
      color: #fff;
      transition: all 0.15s ease-out;
      text-decoration: none;
      &:hover {
        background-color: transparent;
        padding-left: 1em;
      }
      &:focus {
        background-color: transparent;
      }
    }
    &.active {
      pointer-events: none;
      padding-left: 1em;
      &:after {
        width: 40px;
        height: 400px;
        top: 40px;
      }
      .nav-counter {
        font-size: 50px;
      }
      .nav-title {
        height: 40px;
        opacity: 1;
        overflow: visible;
      }
      .nav-body {
        height: 100px;
        opacity: 1;
        overflow: visible;
      }
    }
  }
}

main {
  margin: 0;
}
